#container {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 250px;
	justify-content: center;
}
ion-input{
  border: 1px solid var(--ion-color-primary);
  margin: 0 13%;
  margin-bottom: 10px;
  border-radius: 50px;
  width: 75%;
}

ion-button{
  width: 300px; 
  --border-radius: 50px;
  margin: 0 10%;
}