<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="container">
  <form [formGroup]="myForm" (ngSubmit)="signIn()">
    <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
    <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    <ion-input type="password" placeholder="Confirm password" formControlName="password2"></ion-input>
    <ion-button color="primary" type="submit" fill="solid">Sign in</ion-button>
  </form>
</ion-content>
