<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="changeText" [routerLink]="['/movie-detail', id]">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="saveData()">
    <ion-item lines="full">
      <ion-label position="stacked">Nombre </ion-label>
      <ion-input type="text" placeholder="Nombre de la pelicula" clearInput formControlName="title"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Introducción </ion-label>
      <ion-input type="text" placeholder="Introducción de la pelicula" clearInput formControlName="intro"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Descripción </ion-label>
      <ion-textarea rows="6" placeholder="Descripción de la pelicula" clearInput formControlName="description"></ion-textarea>
    </ion-item>
      <ion-button type="submit" color="primary" expand="block">Edit</ion-button>
    
  </form>
</ion-content>
