<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="changeText" [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="token" id="changeText" (click)="deleteMovie()">
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
      <ion-button *ngIf="token" id="changeText" [routerLink]="['/edit-movie', id]">
        <ion-icon slot="start" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <img src="assets/img/avengers.jpg">
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <div>
          <span>Rate</span>
          <div>
            <div *ngFor="let r of rate; let x=index" id="rate" color="warning" (click)=rateMovie(x)>
              <ion-icon *ngIf="r <= rateM" name="star"></ion-icon>
              <ion-icon *ngIf="r > rateM" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-item>
      
      <p>{{ description }}</p>
    </ion-card-content>
  </ion-card>
  

</ion-content>
