#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 400px;
  justify-content: center;
}

ion-input{
  border: 1px solid var(--ion-color-primary);
  margin: 0 10%;
  margin-bottom: 10px;
  border-radius: 50px;
  width: 80%;
}

ion-button{
  width: 300px; 
  --border-radius: 50px;
  margin: 0 10%;
}

#logo{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    color: var(--ion-color-primary-contrast);
  }
}