<ion-content id="container">
  <div id="logo" (click)="selectImage()">
    <ion-img [src]="image" *ngIf="image"></ion-img>
    <p color="primary" *ngIf="!image">Logo</p> 
  </div>
  
  <form [formGroup]="myForm" (ngSubmit)="login()">
    <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    <ion-button color="primary" type="submit" fill="solid">Login</ion-button>
    <p [routerLink]="['/registration']">Create account!</p>
  </form>
  
</ion-content>
