<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card color="tertiary" *ngFor="let m of movies; let i=index">
      <ion-item-sliding>
        <ion-item color="tertiary" >
          <ion-thumbnail slot="start">
            <img src="assets/img/avengers.jpg">
          </ion-thumbnail>
          <ion-label>
            <h1>{{ m.title }}</h1>
            <p id="intro">{{ m.intro }}</p> 
            <span>Rate</span>
            <div>
              <div *ngFor="let r of rate; let x=index" id="rate" color="warning">
                <ion-icon *ngIf="r <= m.rate" name="star"></ion-icon>
                <ion-icon *ngIf="r > m.rate" name="star-outline"></ion-icon>
              </div>
            </div>
          </ion-label>
          
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="secondary" slot="end" [routerLink]="['/movie-detail', i]">Edit</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
    </ion-card>
  </div>
</ion-content>
