ion-thumbnail{
  width: 150px;
  height: 150px;
  margin: 0;
  margin-left: -15px;
  margin-right: 10px;
}

#intro{
  height: 60px;
  white-space: break-spaces;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
}

h1{
  text-align: center;
  font-size: 18px;
}

span{
  font-size: 10px;
}
ion-button{
  width: 80px;
  height: 100%;
  margin-right: -20px;
}

#rate{
  display: inline-block;
  color: var(--ion-color-warning);
  margin-right: 5px;
}